TestPanel {
	position: absolute;
	top: 0;
	left: 0;
	width: 15%;
	height: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0;
	
	.title {
		font-size: 18px;
		font-family: "Poppins", sans-serif;
		color: #00ff90 !important;
		font-weight: bold;
		text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
